language: objective-c
osx_image: xcode7.1
before_install:
- openssl aes-256-cbc -K $encrypted_24d253d0415e_key -iv $encrypted_24d253d0415e_iv -in ./Scripts/travis/development.mobileprovision.enc -out ./Scripts/travis/development.mobileprovision -d
- gem install CFPropertyList -v 2.3.2
before_script:
- ./Scripts/travis/add-key.sh
script:
- ./Scripts/run-tests.sh && ./Scripts/build-ipa.sh
deploy:
  provider: script
  script: ./Scripts/travis/upload-build.sh
  skip_cleanup: true
after_script:
- ./Scripts/travis/remove-key.sh
# The necessary secure environment variables are: APP_DISTRIBUTION_TOKEN SIGNING_KEY_PASSWORD
env:
  global:
    secure: E3qpMwPgUM26if06r5wS0QszYOlYOdV9Kdfza3lyxBuztbl2K4zQ/izp0tNe5b1TWvRdrywl+5KzStq9WgSfddkrS0mhI9KZVhX1ostWLyFEZrkEeTaXvzBGKqfyKHEzx9kBSDKyzkYbzKHVCEihtoZtjyP8Nq6AHeDA02N1QSU36fHv5HTMVPTkYl5q3rCY9j2segoWoy52GEQLFzhpBuvTfuXF1zT1Jo2dEA15DDA1AsaQsXNSY+8GfUyRvHYqkaKY3SfMv46tGviUVVvAjeZVVBy5P4Dc4jOUsWYilhZBRCjr9rsXiwzdBpvWfY7vAVlPvYFnUqAjuBJaC3m0gJ3oH8KAzP8UelSWc3IVf0ssxwGKso1/ZWDUfuj1oDYv62F4s/U2Ge5PB/IC5yrXD2WQhIhbB4W7m3UkxX/EHB0oZ+VSML40MytL+95hUHmWhMpD7z+WT9VYdtNZRsL0lPXSffBAG61fxfOr2EJX1sj3rdwFmAyCNqjYRFNdcJaNR0ppCorrD6A4yQVw53TMVeWFuHsEU4YPld4oWB4WsCRodbIRtgGiKjwLCGV+S4wuIYtxcCNoQNgSE5BEdnKwL5oiVz4yiK+00xKbTzpErJsdEQyr6kAdWW48hScNdWbhAFC/U+Kl8xUveZurQqc35sCibB+zJ6BoKI7HZa3Jlvo=
